/************************************
*
*   GENERAL STYLES 
*
***********************************/
:root
{
    --primary-color: #1C448E;
    --secondary-color: #6F8695;
    --accent1-color: #CEC288;
    --accent2-color: #FFE381;
    --accent3-color: #DBFE87;
    --body-font: "Roboto", sans-serif;
}
* {
    padding: 0;
    margin: 0;

}

h1, h2 {
    text-align: center;
    font-size: 1.5em;
    padding: .5em;
    font-family: var(--body-font);
    color: var(--primary-color);
}

body {
    font-family: var(--body-font)
}

/************************************
*
*   HEADER 
*
***********************************/
header {
    /* background-color: var(--accent1-color); */
    color: var(--primary-color);
    font: 1em sans-serif;
    grid-area: header;
}


/************************************
*
*   HEADER / NAV
*
***********************************/
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    grid-area: nav;
    background: var(--secondary-color);
    box-shadow: 0 0 10px var(--accent3-color);
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

nav a:hover {
    color: var(--accent2-color);
    font-weight: lighter;
    border-bottom: 2px solid var(--accent2-color);
}

/************************************
*
*   MAIN
*
***********************************/

main {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-right: 10em;
    padding-left: 10em;
    /* height: 60vh; */
    /* background-color: var(--accent3-color); */
    gap: 0;
    grid-area: main;

}

.about {
    border: 1px solid var(--accent1-color);
    border-radius: 1em;
    margin: 1em;
}

.card h2 {
    padding: 1em;
    background-color: var(--accent1-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}

.aboutme {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 0;
    margin: 1em;
    border-radius: 1em;
}

.aboutme img {
    max-width: 100%;
    border-radius: 1em;
    margin: 1em auto;
    grid-column-end: 3;
    box-shadow: 0 0 20px var(--accent1-color);
}

.aboutme p {
    font: 1em sans-serif;
    padding: 20px;
    color: var(--primary-color);
    font-family: var(--body-font);
    grid-column-end: 2;
}


.philippines {
    /* align-items: center; */
    grid-template-columns: 30% 70%;
    grid-template-rows: 0;
    border-radius: 1em;
    margin: 1em;
    /* border: 1px solid var(--accent1-color); */
}

/* figcaption {
    font-size: 0.6em sans-serif;
    padding: 5px;
} */

.philippines h3 {
    border-bottom: 1px solid var(--accent1-color);
    padding-bottom: 10px;
    font-family: "Cormorant", serif;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}

.philippines img {
    max-width: 220px;
    margin: 20px;
    height: auto;
    padding: 1em;
    align-items: center;
    /* justify-content: center;
    grid-column-end: 2; */
    float: left;
    /* box-shadow: 0 0 20px var(--accent1-color); */
}

.philippines p {
    font: 1em sans-serif;
    color: var(--primary-color);
    padding: 20px;
    font-family: "Roboto", sans-serif;
    grid-column-start: 2;
}

/************************************
*
*   MAIN / ASIDE
*
***********************************/



/* Card aside - Dev Resources */
.dev {
    border: 1px solid var(--accent1-color);
    margin: 1em;
    flex-direction: column;
    border-radius: 1em;
    /* grid-area: aside; */
    /* margin: 1em; */
    /* width: 100%; */
    /* display: inline-block; */
}


aside ul {
    text-decoration: none;
    font: 1em;
    justify-content: center;
    padding: 30%;
}

aside ul :hover {
    display: flex;
    color: var(--accent2-color);
} 

/************************************
*
*   FOOTER 
*
***********************************/
footer {
    background: var(--accent1-color);
    padding: 1em;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-area: footer;
}   

footer p {
    font: 0.9em sans-serif;
    color: var(--secondary-color);
}